1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

* 
'hello'
-87.8
- 
/ 
+	
6

In [ ]:
Values : 'hello'
-87.8
6

Expressions : * - / +

In [ ]:
2. What is the difference between string and variable?

In [ ]:
String : A sequence of characters enclosed in single / double quotes. 
Variable :  It is a container to hold a data value. Variable can hold a string value.

In [ ]:
3. Describe three different data types

In [ ]:
Python has the following built-in data types by default and has few more also.
Text Type:	str
Numeric Types:	int, float, complex
Boolean Type:	bool

Str Type: As the name represents it hold the string data.
Numeric Types:As the name represents it hold the int, float, complex data.
Boolean Type: It holds bool data(True/False)

In [ ]:
4. What is an expression made up of? What do all expressions do?

In [ ]:
Expression is made up of operators, variable and values as per the rules defined.
Expression performs operations on variables and values.

In [ ]:
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
Expression always evaluate to a value, statement don't.
Expression is a part of statement.

In [ ]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [3]:
bacon = 22
bacon + 1

23

In [4]:
bacon

22

In [ ]:
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [5]:
'spam' + 'spamspam'

'spamspamspam'

In [6]:
'spam' * 3

'spamspamspam'

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
A variable name cannot start with a number. Hence 100 is invalid variable name.

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [ ]:
int(), float() and str()

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [7]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [ ]:
Error due to 99 since 99 is number. To concatenate all strings in expression should be of string type. 99 should be coverted to string type to resoolve the issue.

In [8]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'